<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356990032495-4rs0a4r02rtua3er9795q0q8bk6ppjtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356990032495-4rs0a4r02rtua3er9795q0q8bk6ppjtq</string>
	<key>API_KEY</key>
	<string>AIzaSyC-wJhts3QHeoFmvIhU7W79R0GwWahOsuI</string>
	<key>GCM_SENDER_ID</key>
	<string>356990032495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.informme</string>
	<key>PROJECT_ID</key>
	<string>inform-me-414118</string>
	<key>STORAGE_BUCKET</key>
	<string>inform-me-414118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356990032495:ios:c142ab7fd150dc8f670b9a</string>
</dict>
</plist>