# macOS
.DS_Store

# IntelliJ related
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
.env
venv/
ENV/
.spyderproject
.ropeproject

# Flutter/Dart/Pub related
/**/doc/api/
/**/ios/Flutter/.last_build_id
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub-cache/
/.pub/
/build/
.app.*.symbols
.app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release

# JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser

# Miscellaneous
/*.class
/*.log
/*.swp
/.atom/
/.buildlog/
/.history
/.svn/
/migrate_working_dir/

